html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  height: 100%;
  --body-bg-color: rgb(227, 230, 231);
  --button-bg-color: rgb(213, 229, 250);
  --main-font-size: 1.5rem;
  --output-large-font-size: 2rem;
  --output-medium-font-size: 1.8rem;
  --output-small-font-size: 1.6rem;
  --result-font-size: 1.4rem;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  margin: 0;
  background-color: var(--body-bg-color);
}

.container {
  display: flex;
  flex-flow: column nowrap;
  width: 300px;
  margin: 0 1rem;
  border: 1px solid black;
  box-shadow: 3px 3px 10px 1px black;
  border-radius: 15px;
}

.display {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: flex-end;
  row-gap: 20px;
  height: 150px;
  border-bottom: 1px solid black;
  border-radius: 15px 15px 0 0;
  background-color: white;
  overflow: hidden;
  white-space: nowrap;
}

.output {
  font-size: var(--output-large-font-size);
  margin-right: 10px;
}

.result {
  font-size: var(--result-font-size);
  font-style: oblique;
  visibility: hidden;
  min-height: 26px;
  margin-bottom: 20px;
  margin-right: 10px;
}

.buttons-wrapper {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  height: 350px;
}

button {
  background-color: var(--button-bg-color);
  border: 1px solid rgb(182, 202, 192);  
  cursor: pointer;
  font-size: var(--main-font-size);
}

button:hover {
  border-color: rgb(50, 59, 54);
  background-color: rgb(153, 242, 240);
}

.clear,
.backspace {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(245, 175, 180);
}

.clear:hover,
.backspace:hover {
  background-color: rgb(255, 105, 105);
}

.operator {
  background-color: rgb(153, 242, 240);
}

.operator:hover {
  background-color: rgb(42, 250, 246);
}

.comma {
  border-radius: 0 0 0 15px;
}

.add {
  border-radius: 0 0 15px 0;
}

img {
  display: block;
  object-fit: contain;
  width: 50px;
  height: 50px;
}

.rickroll {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-decoration: none;
  color: var(--button-bg-color);
  background-color: var(--button-bg-color);
  border: 1px solid rgb(182, 202, 192);  
  grid-column: 2 / -2;
}

.rickroll:hover {
  color: white;
  font-size: var(--main-font-size);
  background-color: rgb(213, 13, 13);
  border-color: rgb(50, 59, 54);
}
